; vim:sw=2:ts=2:sts=2:filetype=dosini:
[database]
; A SQLalchemy database URI
url = sqlite:///production.db

[server]
; address specifies the adress on which Tornado will listen
;   You must prefix the address with an '@' if you want to listen
;   on a unix domain socket, otherwise Tornado will listen on an
;   IP adress.
address = @bilderbrett.sock
mode = 0666
; For TCP:
;   address = ::
;   port = 8080
daemon = True

pidfile = bilderbrett.pid
logfile = bilderbrett.log

[board]
title = bilderbrett
; Path to the Imagemagick convert command
convert = /usr/bin/convert
; Size of the thumbnails (ImageMagick syntax)
size = 200
