{% extends "layout.html" %}
{% import "post.html" as post %}
{% block title %}/{{ board.id }}/ – {{ board.title }}{% endblock %}
{% block headertitle %}<a href="/{{ board.id }}/">/{{ board.id }}/</a> – {{ board.title }}{% endblock %}
{% block content %}
<article id="description">
	{{ board.description }}
</article>
{{ post.form(board) }}
<div id="threads">
	{% for thread in threads %}
	<div class="thread">
		{{ post.render(thread) }}
		{% if thread.posts|length > 2 %}
		{{ thread.posts|length - 2 }} post(s) not shown.
		{% endif %}
		{% for _post in thread.posts[-2:] %}
			{{ post.render(_post) }}
		{% endfor %}
	</div>
	{% endfor %}
</div>
<nav id="pagination">
	{% if page != 0 %}
	[<a class="prev" href="/{{ board.id }}/{{ page - 1 }}">Prev</a>]
	{% endif %}
	{% for _page in pages %}
	<a class="{% if _page == page %}current{% endif %}" href="/{{ board.id }}/{{ _page }}">
	{{ _page + 1 }}
	</a>
	{% endfor %}
	{% if page < pages|length - 1 %}
	[<a class="next" href="/{{ board.id }}/{{ page + 1 }}">Next</a>]
	{% endif %}
</nav>
{% endblock %}
