{% macro render(post) %}
<article class="post {% if post.is_thread %}first{% endif %}" id="{{ post.id }}">
	<div class="post_info">
		<strong class="post_title">{{ post.title|e }}</strong>
		<strong class="post_author">{{ post.author|e }}</strong>
		<span class="post_time">{{ post.time }}</span>
		<a class="post_id" href="/{{ post.board_id }}/thread-{{ post.thread_id or post.id }}#{{ post.id }}">No. {{ post.id }}</a>
		{% if post.sage %}
		<strong class="post_sage">SAGE!</strong>
		{% endif %}
	</div>
	{% for attachment in post.attachments %}
	<figure class="image">
		<a href="/files/{{ attachment.id }}.{{ attachment.type }}">
			<figcaption>{{ attachment.name }}</figcaption>
			{% if attachment.is_image %}
			<img src="/files/{{ attachment.id }}.{{ attachment.type }}" />
			{% endif %}
		</a>
	</figure>
	{% endfor %}
	<div class="content">
		{{ post.content|e }}
	</div>
</article>
{%- endmacro %}
{% macro form(board) %}
<form method="post" href="." id="post" enctype="multipart/form-data">
	<table>
		{% if board.allow_nicks %}
		<tr>
			<th>Name:</th>
			<td><input type="text" name="name" /></td>
		</tr>
		{% endif %}
		<tr>
			<th>Subject:</th>
			<td><input type="text" name="subject" /> <input type="submit" value="Submit" name="submit" /></td>
		</tr>
		<tr>
			<th>Sage:</th>
			<td><input type="checkbox" name="sage" /></td>
		</tr>
		<tr>
			<th>Comment:</th>
			<td><textarea name="content"></textarea></td>
		</tr>
		<tr>
			<th class="file_key">File:</th>
			<td class="file_val"><input name="file[0]" type="file" /></td>
		</tr>
	</table>
</form>
{%- endmacro %}
