body {
	margin: 0px;
	margin-left: 10px;
	margin-right: 10px;

	font: {
		family: sans-serif;
		size: 13px;
	}

	background: #eeeeee;
}

header {
	padding-bottom: 1px;

	border-bottom: 1px inset none;

	h1 {
		color: black;
		text-align: center;
	}
}

table {
	th {
		background: #313370;
		color: #ffffff;
	}
}

form#post table {
	width: 40%;
	margin: {
		left: auto;
		right: auto;
	}

	td {
		width: 75%;
	}

	th {
		text-align: left;
		width: 25%;
	}

	textarea {
		width: 100%;
		height: 5em;
	}

	margin-bottom: 20px;
}

.thread {
	border-top: 1px solid #7e7e7e;
	padding: {
		top: 15px;
		bottom: 15px;
	}
}

.post {
	background: #aac;
	padding: 5px;
	margin: 5px;

	.post_info {
		.post_title {
			color: #c33;
			font-size: 18px;
		}

		.post_author {
			color: blue;
		}

		.post_id {
			color: black;
			text-decoration: none;

			&:hover {
				font-weight: bold;
			}
		}
		
		.post_sage {
			color: red;
		}
	}

	.content {
		margin: 10px;
		clear: both;
	}

	&.first {
		background: none;
	}
}

.image {
	float: left;
	margin: 5px 20px 20px 5px;
	padding-right: 10px;
	background: #dddddd;
	border: 1px solid #aaaaaa;

	img {
		max-width: 200px;
	}
}

nav#pagination {
	border: 1px solid #7f7f7f;
	padding: 5px;
	margin: 5px;
	display: inline;

	a	{
		display: inline-block;
	}

	.current {
		color: inherit;
		text-decoration: none;
	}
}

.spoiler {
	background: black;
	color: black;

	&:hover {
		color: white;
	}
}

q {
	margin: 0px;
	padding: 0px;
	color: #007777;
	display: inline;

	&:before {
		content: '>>';
	}

	&:after {
		content: '';
	}
}
